.qtcreator/

build/
managed_components/
docs/gem/

/sdkconfig.old

main/wifi_creds.h
main/mqtt_creds.h

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
pcb/*.000
pcb/*.bak
pcb/*.bck
pcb/*.kicad_pcb-bak
pcb/*.kicad_sch-bak
pcb/*-backups
pcb/*-cache*
pcb/*-bak
pcb/*-bak*
pcb/*~
pcb/~*
pcb/_autosave-*
pcb/\#auto_saved_files\#
pcb/*.tmp
pcb/*-save.pro
pcb/*-save.kicad_pcb
pcb/fp-info-cache
pcb/~*.lck

# Netlist files (exported from Eeschema)
pcb/*.net

# Autorouter files (exported from Pcbnew)
pcb/*.dsn
pcb/*.ses

# Exported BOM files
pcb/production/*

# Archived Backups (KiCad 6.0)
pcb/**/*-backups/*.zip

# Local project settings
pcb/*.kicad_prl
